.position {
  height: 220px;
  width: 120px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(181, 216, 181);
}

.position .square {
  position: relative;
  top: 10px;
  left: 9px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
}

.position .clock {
  position: relative;
  text-align: center;
  top: 10%;
}

.position .buttons {
  position: relative;
  top: 20px;
  left: 10px;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.position .button {
  width: 20px;
  margin: 5px;
  text-align: center;
  color: white;
  background-color: rgb(59, 56, 56);
  border: 1px solid black;
  border-radius: 10px;
}

.transform {
  height: 220px;
  width: 120px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(111, 221, 111);
}

.transform .square {
  transform: translate(9px, 10px);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
}

.transform .clock {
  transform: translate(12px, 10px);
  color: rgb(54, 169, 236);
}

.transform .buttons {
  transform: translate(10px, 20px);
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.transform .button {
  width: 20px;
  margin: 5px;
  text-align: center;
  color: white;
  background-color: rgb(59, 56, 56);
  border: 1px solid black;
  border-radius: 10px;
}
